<section id="about" class="container">
  <header class="block__header">
    <h2 class="block__heading block--profile">About Me</h2>
    <p class="block__about">Who am I</p>
  </header>
  <div class="profile grid grid--1x2">
    <div class="about" data-aos="fade-right">
      <picture>
        <source type="image/webp" srcset="img/saibala.webp 1x" />
        <source type="image/png" srcset="img/saibala.png 1x" />
        <img class="admin__img" src="/img/saibala.png" alt="Admin Photo" />
      </picture>
    </div>
    <div class="about__content" data-aos="fade-left">
      <h3 class="about__me">I'm <span>Saibalachandar</span></h3>

      <p class="about__dedicate">
        I'm a Web Developer and i am very Possionate and dedicated to my work. I
        have ocquired the skills and knowledge your project a success.
      </p>
      <div class="social__icon">
        <a class="link" href="https://www.instagram.com/sai_balachandar/">
          <svg class="icon icon--primary">
            <use href="img/sprite.svg#instagram"></use></svg
        ></a>
        <a class="link" href="https://www.facebook.com/sai.balachandar.1">
          <svg class="icon icon--primary">
            <use href="img/sprite.svg#facebook"></use></svg
        ></a>

        <a class="link" href="https://twitter.com/balachandar_sai">
          <svg class="icon icon--primary">
            <use href="img/sprite.svg#twitter"></use></svg
        ></a>
      </div>
    </div>
  </div>
</section>
