<header class="block__header">
  <h2 class="block__heading">My team</h2>
</header>
<section class="maincard">
  <div class="card">
    <div class="img">
      <img class="team__img" src="/img/surya.JPG" alt="team" />
    </div>
    <div class="card__info">
      <h3 class="team__member"><span>S</span>uryaa</h3>
      <p class="team__work">Excute</p>
      <p class="card__develop">
        I'm a client-side script and i am very dedicated to my work
      </p>
      <div class="social__icon">
        <a class="link" href="#">
          <svg class="icon icon--primary">
            <use xlink:href="img/sprite.svg#instagram"></use></svg
        ></a>
        <a class="link" href="#">
          <svg class="icon icon--primary">
            <use xlink:href="img/sprite.svg#facebook"></use></svg
        ></a>

        <a class="link" href="#">
          <svg class="icon icon--primary">
            <use xlink:href="img/sprite.svg#twitter"></use></svg
        ></a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="img">
      <img class="team__img" src="/img/nithish.JPG" alt="team" />
    </div>
    <div class="card__info">
      <h3 class="team__member man--modified"><span>N</span>ithish kumar</h3>
      <p class="team__work">Server-side</p>
      <p class="card__develop">
        I'm a Server-side script and i am very dedicated to my work
      </p>
      <div class="social__icon">
        <a class="link" href="#">
          <svg class="icon icon--primary">
            <use xlink:href="img/sprite.svg#instagram"></use></svg
        ></a>
        <a class="link" href="#">
          <svg class="icon icon--primary">
            <use xlink:href="img/sprite.svg#facebook"></use></svg
        ></a>

        <a class="link" href="#">
          <svg class="icon icon--primary">
            <use xlink:href="img/sprite.svg#twitter"></use></svg
        ></a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="img">
      <img class="team__img" src="/img/manoj.JPG" alt="team" />
    </div>
    <div class="card__info">
      <h3 class="team__member"><span>M</span>anoj</h3>
      <p class="team__work">UI/UX Designer</p>
      <p class="card__develop">
        I'm a UI/UX Designer and i am very dedicated to my work
      </p>
      <div class="social__icon">
        <a class="link" href="#">
          <svg class="icon icon--primary">
            <use xlink:href="img/sprite.svg#instagram"></use></svg
        ></a>
        <a class="link" href="#">
          <svg class="icon icon--primary">
            <use xlink:href="img/sprite.svg#facebook"></use></svg
        ></a>

        <a class="link" href="#">
          <svg class="icon icon--primary">
            <use xlink:href="img/sprite.svg#twitter"></use></svg
        ></a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="img">
      <img class="team__img" src="/img/sivasuryaa.JPG" alt="team" />
    </div>
    <div class="card__info">
      <h3 class="team__member"><span>S</span>iva surya</h3>
      <p class="team__work">Backend developer</p>
      <p class="card__develop">
        I'm a Backend developer and i am very dedicated to my work
      </p>
      <div class="social__icon">
        <div class="social__icon">
          <a class="link" href="#">
            <svg class="icon icon--primary">
              <use xlink:href="img/sprite.svg#instagram"></use></svg
          ></a>
          <a class="link" href="#">
            <svg class="icon icon--primary">
              <use xlink:href="img/sprite.svg#facebook"></use></svg
          ></a>

          <a class="link" href="#">
            <svg class="icon icon--primary">
              <use xlink:href="img/sprite.svg#twitter"></use></svg
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
