<section class="progress block--skewed-left">
  <header class="block__header">
    <h2 class="block__heading">My team</h2>
  </header>
  <div class="maincard">
    <div class="card">
      <div class="img">
        <picture>
          <source type="image/webp" srcset="img/suryaa.webp 1x" />
          <source type="image/png" srcset="img/suryaa.png 1x" />
          <img class="team__img" src="/img/surya.png" alt="team" />
        </picture>
      </div>
      <div class="card__info">
        <h3 class="team__member"><span>S</span>uryaa</h3>
        <p class="team__work">Excute</p>
        <p class="card__develop">
          I'm a client-side script and i am very dedicated to my work
        </p>
        <div class="social__icon">
          <a class="link" href="#">
            <svg class="icon icon--primary">
              <use xlink:href="img/sprite.svg#instagram"></use></svg
          ></a>
          <a class="link" href="#">
            <svg class="icon icon--primary">
              <use xlink:href="img/sprite.svg#facebook"></use></svg
          ></a>

          <a class="link" href="#">
            <svg class="icon icon--primary">
              <use xlink:href="img/sprite.svg#twitter"></use></svg
          ></a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="img">
        <picture>
          <source
            type="image/webp"
            srcset="img/nithish.webp 1x, img/nithish@2x.webp"
          />
          <source
            type="image/png"
            srcset="img/nithish.png 1x, img/nithish@2x.png"
          />
          <img class="team__img" src="/img/nithish.png" alt="team" />
        </picture>
      </div>
      <div class="card__info">
        <h3 class="team__member man--modified"><span>N</span>ithish kumar</h3>
        <p class="team__work">Server-side</p>
        <p class="card__develop">
          I'm a Server-side script and i am very dedicated to my work
        </p>
        <div class="social__icon">
          <a class="link" href="#">
            <svg class="icon icon--primary">
              <use xlink:href="img/sprite.svg#instagram"></use></svg
          ></a>
          <a class="link" href="#">
            <svg class="icon icon--primary">
              <use xlink:href="img/sprite.svg#facebook"></use></svg
          ></a>

          <a class="link" href="#">
            <svg class="icon icon--primary">
              <use xlink:href="img/sprite.svg#twitter"></use></svg
          ></a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="img">
        <picture>
          <source type="image/webp" srcset="img/manoj.webp 1x" />
          <source type="image/png" srcset="img/manoj.png 1x" />
          <img class="team__img" src="/img/manoj.png" alt="team" />
        </picture>
      </div>
      <div class="card__info">
        <h3 class="team__member"><span>M</span>anoj</h3>
        <p class="team__work">UI/UX Designer</p>
        <p class="card__develop">
          I'm a UI/UX Designer and i am very dedicated to my work
        </p>
        <div class="social__icon">
          <a class="link" href="#">
            <svg class="icon icon--primary">
              <use xlink:href="img/sprite.svg#instagram"></use></svg
          ></a>
          <a class="link" href="#">
            <svg class="icon icon--primary">
              <use xlink:href="img/sprite.svg#facebook"></use></svg
          ></a>

          <a class="link" href="#">
            <svg class="icon icon--primary">
              <use xlink:href="img/sprite.svg#twitter"></use></svg
          ></a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="img">
        <picture>
          <source type="image/webp" srcset="img/sivasurya.webp 1x" />
          <source type="image/png" srcset="img/sivasurya.png 1x" />
          <img class="team__img" src="/img/sivasuryaa.png" alt="team" />
        </picture>
      </div>
      <div class="card__info">
        <h3 class="team__member"><span>S</span>iva surya</h3>
        <p class="team__work">Backend developer</p>
        <p class="card__develop">
          I'm a Backend developer and i am very dedicated to my work
        </p>
        <div class="social__icon">
          <div class="social__icon">
            <a class="link" href="#">
              <svg class="icon icon--primary">
                <use xlink:href="img/sprite.svg#instagram"></use></svg
            ></a>
            <a class="link" href="#">
              <svg class="icon icon--primary">
                <use xlink:href="img/sprite.svg#facebook"></use></svg
            ></a>

            <a class="link" href="#">
              <svg class="icon icon--primary">
                <use xlink:href="img/sprite.svg#twitter"></use></svg
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
