<footer class="footer">
  <div class="grid grid--1x2 grid--1x3 footer__section">
    <div class="mofa--color">
      <img class="logo" src="/img/mofalogo.png" alt="logo" />
      <svg class="icon icon--primary">
        <use href="img/sprite.svg#mofabrands"></use>
      </svg>
      <h2 class="mofa">oFaTechonlogy</h2>
    </div>
    <h2 class="copy__right">@copyright MofaTechonlogy</h2>
    <div class="social__icon">
      <a class="link" href=" https://www.instagram.com/sai_balachandar/">
        <svg class="icon icon--primary">
          <use href="img/sprite.svg#instagram"></use></svg
      ></a>
      <a class="link" href="https://www.facebook.com/sai.balachandar.1">
        <svg class="icon icon--primary">
          <use href="img/sprite.svg#facebook"></use></svg
      ></a>

      <a class="link" href="https://twitter.com/balachandar_sai">
        <svg class="icon icon--primary">
          <use href="img/sprite.svg#twitter"></use></svg
      ></a>
    </div>
  </div>
</footer>
