<section id="home" class="hero">
  <div class="hero--change">
    <header class="hero__header">
      <h2 class="block__heading hero--design">
        Hell<span>o!</span> ,I am WebDeveloper
      </h2>
      <p class="hero--special">
        My Expertise is to Create and design websites and many more get
        beautiful results forever
      </p>
      <button class="btn btn--primary">Hire Me</button>
    </header>
    <div class="hero__img">
      <svg class="icon hero__icon">
        <use xlink:href="img/sprite.svg#programming"></use>
      </svg>
    </div>
  </div>
</section>
