<header class="navbar">
  <nav class="nav collapsible">
    <div class="mofa--color">
      <img class="logo" src="/img/mofalogo.png" alt="logo" />
      <svg class="icon icon--primary">
        <use xlink:href="img/sprite.svg#mofabrands"></use>
      </svg>
      <h2 class="mofa">oFa</h2>
    </div>
    <svg class="icon nav--icon collapsible__chevron">
      <use xlink:href="img/sprite.svg#sort"></use>
    </svg>
    <ul class="nav__list collapsible__content">
      <li class="list__item"><a href="#home">Home</a></li>
      <li class="list__item"><a href="#about">About</a></li>
      <li class="list__item"><a href="#skills">Skill</a></li>
      <li class="list__item"><a href="#team">Team</a></li>
      <li class="list__item"><a href="#service">Service</a></li>
    </ul>
  </nav>
</header>
