<section class="block block--dark">
  <header class="block__header">
    <h2 class="block__heading">My Services</h2>
  </header>
  <div class="container grid grid--1x2 grid--1x3">
    <div class="services">
      <svg class="icon icon--primary">
        <use xlink:href="img/sprite.svg#code"></use>
      </svg>
      <h3 class="service__heading"><span>web</span> development</h3>
      <p>
        Modern and Moblie ready website that will help you reach all your
        marketing
      </p>
    </div>
    <div class="services">
      <svg class="icon icon--primary">
        <use xlink:href="img/sprite.svg#laptop"></use>
      </svg>
      <h3 class="service__heading"><span>Graphic</span> Designing</h3>
      <p>Digital design is like painting, except the paint never dries</p>
    </div>
    <div class="services">
      <svg class="icon icon--primary">
        <use xlink:href="img/sprite.svg#apple"></use>
      </svg>
      <h3 class="service__heading"><span>App </span> Developing</h3>
      <p>
        Your mobile device has quickly become the easiest portal into your
        digital self
      </p>
    </div>
    <div class="services">
      <svg class="icon icon--primary">
        <use xlink:href="img/sprite.svg#camera"></use>
      </svg>
      <h3 class="service__heading"><span>Photo</span> Graphy</h3>
      <p>We are making photographs to understand what our lives mean to us</p>
    </div>
    <div class="services">
      <svg class="icon icon--primary">
        <use xlink:href="img/sprite.svg#video"></use>
      </svg>
      <h3 class="service__heading"><span>Video</span> Editing</h3>
      <p>
        I feel that working with the camera and editing it is actually my strong
        suit
      </p>
    </div>
    <div class="services">
      <svg class="icon icon--primary">
        <use xlink:href="img/sprite.svg#seo"></use>
      </svg>
      <h3 class="service__heading"><span>SEO</span> Export</h3>
      <p>Good SEO work only gets better over time</p>
    </div>
  </div>
</section>
