<section class="block">
  <header class="block__header">
    <h2 class="block__heading block--profile">Skills</h2>
  </header>
  <div class="profile grid grid--1x2">
    <div class="skill">
      <div class="skill__setion">
        <h3 class="skill__heading">Professional Skills</h3>
      </div>
      <div class="skill__container skill--modified">
        <svg class="icon icon--primary">
          <use xlink:href="img/sprite.svg#html"></use>
        </svg>
        <div class="program">
          <span class="course__color">Hypertext Markup Language</span>
          <h4 class="program__base">i am very dedicated to my work</h4>
        </div>
      </div>
      <div class="program__stage">
        <span class="progarm--html"></span>
      </div>

      <div class="skill__container skill--modified">
        <svg class="icon icon--primary">
          <use xlink:href="img/sprite.svg#css3"></use>
        </svg>
        <div class="program">
          <span class="course__color">Cascading Style Sheets</span>
          <h4 class="program__base">i am very dedicated to my work</h4>
        </div>
      </div>
      <div class="program__stage">
        <span class="progarm--css"></span>
      </div>
      <div class="skill__container skill--modified">
        <svg class="icon icon--primary">
          <use xlink:href="img/sprite.svg#js"></use>
        </svg>
        <div class="program">
          <span class="course__color">JavaScript</span>
          <h4 class="program__base">i am very dedicated to my work</h4>
        </div>
      </div>
      <div class="program__stage">
        <span class="progarm--js"></span>
      </div>
      <div class="skill__language"></div>
    </div>
    <div class="skill">
      <div class="skill__setion">
        <h3 class="skill__heading">Personal skills</h3>
      </div>
      <div class="skill__container skill--modified">
        <svg class="icon icon--primary">
          <use xlink:href="img/sprite.svg#team"></use>
        </svg>
        <div class="program">
          <span class="course__color">Team Work</span>
          <h4 class="program__base">i am very dedicated to my work</h4>
        </div>
      </div>
      <div class="program__stage">
        <span class="progarm--html"></span>
      </div>

      <div class="skill__container skill--modified">
        <svg class="icon icon--primary">
          <use xlink:href="img/sprite.svg#motivation"></use>
        </svg>
        <div class="program">
          <span class="course__color">Seft Motivaation</span>
          <h4 class="program__base">i am very dedicated to my work</h4>
        </div>
      </div>
      <div class="program__stage">
        <span class="progarm--motivaation"></span>
      </div>
      <div class="skill__container skill--modified">
        <svg class="icon icon--primary">
          <use xlink:href="img/sprite.svg#dedication"></use>
        </svg>
        <div class="program">
          <span class="course__color">Dedication</span>
          <h4 class="program__base">i am very dedicated to my work</h4>
        </div>
      </div>
      <div class="program__stage">
        <span class="progarm--dedication"></span>
      </div>
      <div class="skill__language"></div>
    </div>
  </div>
</section>
